<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FacultadCotroller</servlet-name>
        <servlet-class>Control.FacultadCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscuelaCotroller</servlet-name>
        <servlet-class>Control.EscuelaCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Linea_InvestigacionCotroller</servlet-name>
        <servlet-class>Control.Linea_InvestigacionCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocenteCotroller</servlet-name>
        <servlet-class>Control.DocenteCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoCotroller</servlet-name>
        <servlet-class>Control.AlumnoCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstanciaCotroller</servlet-name>
        <servlet-class>Control.ConstanciaCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JuradoCotroller</servlet-name>
        <servlet-class>Control.JuradoCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TesisCotroller</servlet-name>
        <servlet-class>Control.TesisCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionCotroller</servlet-name>
        <servlet-class>Control.session.CerrarSesionCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCotroller</servlet-name>
        <servlet-class>Control.session.LoginCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCotroller</servlet-name>
        <servlet-class>Control.session.SessionCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VistaCotroller</servlet-name>
        <servlet-class>Control.VistaCotroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacultadCotroller</servlet-name>
        <url-pattern>/Facultad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscuelaCotroller</servlet-name>
        <url-pattern>/Escuelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Linea_InvestigacionCotroller</servlet-name>
        <url-pattern>/Lineas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocenteCotroller</servlet-name>
        <url-pattern>/Docentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoCotroller</servlet-name>
        <url-pattern>/Alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstanciaCotroller</servlet-name>
        <url-pattern>/Constancias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JuradoCotroller</servlet-name>
        <url-pattern>/Jurados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TesisCotroller</servlet-name>
        <url-pattern>/Tesis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionCotroller</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCotroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCotroller</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VistaCotroller</servlet-name>
        <url-pattern>/Vista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
